*__pycache__/
*.py[cod]

build
dist

*.ipynb
.ipynb*
.ipynb*/
.ipynb_checkpoints
Untitled.ipynb

.idea/
.coverage
venv/
runs/
report/
results.csv
.eggs/
*.egg-info

dooku_key
*.swp

test_report/


**/*.aux
**/*.log
**/*.bbl
**/*.blg
**/*.out
**/*.gz
.idea
**/.DS_Store

config/*_local.gin
.venv
.vscode/
model/
predicted/
preprocessed/

play.py